
.idea/uiDesigner.xml
.idea/misc.xml
.idea/libraries-with-intellij-classes.xml
.idea/jarRepositories.xml
.idea/gradle.xml
.idea/compiler.xml
.gradle/vcs-1/gc.properties
.gradle/configuration-cache/gc.properties
.gradle/checksums/checksums.lock
.gradle/buildOutputCleanup/outputFiles.bin
.gradle/buildOutputCleanup/cache.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/6.8/javaCompile/taskHistory.bin
.gradle/6.8/javaCompile/javaCompile.lock
.gradle/6.8/javaCompile/jarAnalysis.bin
.gradle/6.8/javaCompile/classAnalysis.bin
.gradle/6.8/gc.properties
.gradle/6.8/fileHashes/resourceHashesCache.bin
.gradle/6.8/fileHashes/fileHashes.lock
.gradle/6.8/fileHashes/fileHashes.bin
.gradle/6.8/fileChanges/last-build.bin
.gradle/6.8/executionHistory/executionHistory.lock
.gradle/6.8/executionHistory/executionHistory.bin
build/classes/java/main/main/main.class
build/classes/java/main/ScreenToString/ScreenToString.class
build/classes/java/main/Solver/Pair.class
build/classes/java/main/Solver/Solver.class
build/distributions/OpenCVGRadleBuildTest-1.0-SNAPSHOT.tar
build/distributions/OpenCVGRadleBuildTest-1.0-SNAPSHOT.zip
build/distributions/OpenCVGRadleBuildTest-1.0-SNAPSHOT/bin/OpenCVGRadleBuildTest
build/distributions/OpenCVGRadleBuildTest-1.0-SNAPSHOT/bin/OpenCVGRadleBuildTest.bat
build/distributions/OpenCVGRadleBuildTest-1.0-SNAPSHOT/lib/opencv-3414.jar
build/distributions/OpenCVGRadleBuildTest-1.0-SNAPSHOT/lib/OpenCVGRadleBuildTest-1.0-SNAPSHOT.jar
build/libs/OpenCVGRadleBuildTest-1.0-SNAPSHOT.jar
build/resources/main/Capture.PNG
build/resources/main/openCV/build.iml
build/resources/main/openCV/opencv-3414.jar
build/resources/main/openCV/x64/opencv_java3414.dll
build/resources/main/openCV/x86/opencv_java3414.dll
build/resources/main/Ottertest1.PNG
build/resources/main/Ottertest2.PNG
build/resources/main/Ottertest3.PNG
build/resources/main/Ottertest4.PNG
build/resources/main/playtest1.PNG
build/resources/main/playtest2.PNG
build/resources/main/playtest3.PNG
build/resources/main/playtest4.PNG
build/scripts/OpenCVGRadleBuildTest
build/scripts/OpenCVGRadleBuildTest.bat
build/tmp/compileJava/source-classes-mapping.txt
build/tmp/jar/MANIFEST.MF
